body{
    background-color: #f4f4f4;
    color: rgb(125, 123, 123);
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18;
    font-weight:normal;
    
    
    line-height: 3em;
    margin: 0;
}
.button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}
button:hover{
    background-color: red;
    color: #ccc;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: aqua;
}

.container{
    width: 80%;
    margin: auto;
}

.box-1{
    background-color: #333;
    color: #fff;

    border: 5px red solid;
    border-width: 3px;
    border-bottom-width: 10px ;
    border-top-style: dotted;

    margin: 20px;

    padding: 20px;
}

.box-1 h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2{
    border: 3px dotted rgb(59, 56, 135);
    padding: 20px;
    margin: 20px;
}
.categories{
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
}

.categories h2{
    text-align: center;
}

.categories ul{
    padding: 12px;
    list-style: none;
}

.my-form{
    padding: 20px;
}
.my-form .form-group{
    padding: 15px;
}
.my-form label{
    display: block;
}
.my-form input[type="text"],{
    padding: 8px;
    width: 100%;
}

